ISOGEN-FILES ISOGEN.FLS
UNITS-BORE MM
UNITS-CO-ORDS MM
UNITS-WEIGHT KGS
UNITS-BOLT-DIA MM
UNITS-BOLT-LENGTH MM
PIPELINE-REFERENCE /BTRM-1000-14"-P1710001-66620M0-01/B4
    PROJECT-IDENTIFIER P1
    AREA A1
FLANGE
    END-POINT 0.000 0.000 0.000
    END-POINT 0.000 0.000 0.000
    SKEY FLWN
    ATTRIBUTE21 CA98 3810
FLANGE
    END-POINT 0.000 0.000 0.000
    END-POINT 0.000 0.000 0.000
    SKEY FLWN
    ATTRIBUTE21 CA98 3820
PIPE
    END-POINT 0.000 0.000 0.000
    END-POINT 0.000 0.000 0.000
    PIPELINE-REFERENCE /BTRM-1000-14"-P1710001-66620M0-01/B4
    SKEY ELBW
    ATTRIBUTE21 CA98 3850
